<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet">
  <title>mask-search</title>
  <style>
    html,
    body,
    ul {
      height: 100%;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Noto Sans TC', sans-serif;
    }


    .text-red {
      color: red;
    }

    #app {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
    }

    #map {
      width: 100%;
      height: 100%;
    }

    .sidebar {
      position: absolute;
      right: 0;
      top: 0;
      width: 300px;
      height: 100%;
      background: #eee;
      padding: 10px;
      z-index: 2;
      box-shadow: -3px 0px 10px -4px rgba(0, 0, 0, 0.75);
      transform: translateX(320px);
      transition: .3s all ease-in-out;
    }

    .sidebar.open {
      transform: translateX(0);
    }

    .control-panel {
      height: 200px;
    }

    .sidebar .control-panel>h1 {
      color: #3c3b3b;
      margin-top: 10px;
      padding-bottom: 15px;
      border-bottom: 1px solid #3c3b3b;
    }

    .search-bar {
      height: 30px;
      border-radius: 8px;
      overflow: hidden;
      margin-top: 20px;
    }

    .search-bar>input {
      background: #cccccc;
      border: 0;
      height: 30px;
      width: calc(80% - 10px);
      padding: 0;
      outline: none;
      padding-left: 10px;
    }

    .search-bar>button {
      background: #c1bebe;
      border: 0px;
      height: 30px;
      width: 20%;
      margin-left: -4px;
      outline: none;
    }

    .range-silder {
      margin-top: 15px;
      position: relative;
      padding-bottom: 20px;
      border-bottom: 1px solid #3c3b3b;
    }

    .range-silder>input[type="range"] {
      width: 100%;
      -webkit-appearance: none;
      outline: none;
      border: 5px;
      height: 6px;
      background: #c1bebe;
    }

    .range-silder>input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      position: relative;
      width: 15px;
      height: 15px;
      background: gray;
      border-radius: 50%;
      transition: .2s;
    }

    .result {
      overflow-y: auto;
      max-height: 600px;
    }

    .result>div {
      padding: 15px 5px;
    }

    .result>div+div {
      border-top: 1px solid black;
    }

    .toggle-btn {
      display: inline-block;
      background: gray;
      position: absolute;
      left: -30px;
      width: 30px;
      height: 50px;
      border: 0;
      text-align: center;
      line-height: 50px;
      font-size: 18px;
      color: white;
      outline: none;
      top: 1px;
    }

    .shadow {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: black;
      opacity: 0.9;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 99;
    }

    .shadow .light-box {
      padding: 30px 40px;
      box-sizing: border-box;
      background: white;
      z-index: 100;
      border-radius: 15px;
    }

    .shadow .light-box ul li {
      margin: 10px 0;
    }

    .shadow .light-box ul li span {
      width: 30px;
      margin-right: 10px;
    }

    .shadow-btn {
      display: block;
      margin: 20px auto;
      width: 60px;
      padding: 5px 0;
      background: #cccccc;
      border-radius: 10px;
      text-align: center;
    }

    .shadow.hide {
      display: none;
    }

    @media screen and (max-width: 600px) {
      .sidebar {
        width: 200px;
        transform: translateX(220px);
      }

      .shadow .light-box {
        width: 90%;
        padding: 20px;
      }

      .shadow .light-box ul {
        max-width: 300px;
        margin: 0 auto;
      }
    }
  </style>
</head>

<body>
  <div class="shadow">
    <div class="light-box">
      <ul>
        <li>請使用右邊選單查詢資料或者點擊地圖任一處搜尋</li>
        <li>請使用選單滑桿調整搜索距離，範圍100-1000公尺</li>
        <li><span><img style="margin-left: -7px;" src="/img/empty.png"></span>，此圖示表示大人口罩與小孩口罩<span
            style="color: red;">皆無庫存</span></li>
        <li><span><img src="/img/store.png"></span>，此圖示表示大人口罩或小孩口罩<span style="color: red;">有庫存</span></li>
        <li>請以現場的庫存為準，線上資料僅供參考</li>
        <li style="margin: 0;">資料來源: <a href="https://g0v.hackmd.io/@kiang/mask-info" target="_blank">口罩供需資訊平台</a></li>
      </ul>
      <a style="color: black; text-decoration: none;" href="javascript:;" class="shadow-btn">了解</a>
    </div>
  </div>
  <div id="app">
    <div class="sidebar open">
      <button class="toggle-btn">></button>
      <div class="control-panel">
        <h1>口罩查詢地圖</h1>
        <div class="search-bar">
          <input type="text" value="" placeholder="請輸入地址或標的物">
          <button>搜尋</button>
        </div>
        <div class="range-silder">
          <div class="range-text">搜索距離：500公尺</div>
          <input type="range" min="100" max="1000" value="500">
        </div>
      </div>
      <div class="result"></div>
      <div style="height:20px; position:absolute; bottom:30px">
        <p style="margin: 0;">資料來源:<a href="https://g0v.hackmd.io/@kiang/mask-info" target="_blank">口罩供需資訊平台</a></p>
      </div>
    </div>
    <div id="map"></div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
  <script src="/script/index.js"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRZSeQ7QV_b88oo3AtghbQGCQYwdKKs6Q&callback=initMap&libraries=places,geometry"
    async defer></script>
</body>

</html>