<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>mask-search</title>
    <style>
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map {
            width: 80%;
            height: 80%;
        }
    </style>
</head>

<body>
    <div id="map"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
    <script>
        async function initMap() {
            const api_url = 'https://raw.githubusercontent.com/kiang/pharmacies/master/json/points.json?fbclid=IwAR3Owu0eV4q0oSFWq5owQrpSPaJq9K1BP53Y-t6yixEXPre8BV_AQccarEU'
            const setting = await axios.get('/map-setting.json')
            const result = await axios.get(api_url)
            const image = ''
            const mapConfig = {
                center: { lat: 25.052518, lng: 121.526219 },
                zoom: 14,
                styles: setting.data,
                disableDefaultUI: true
            }
            let map, service, info
            info = new google.maps.InfoWindow();
            map = new google.maps.Map(document.getElementById('map'), mapConfig)
            service = new google.maps.places.PlacesService(map);
            result.data.features.slice(0, 50).forEach(item => {
                let {lat,lng} = item.geometry
                let marker = new google.maps.Marker({
                    position: { lat , lng },
                    map: map,
                    icon: image,
                    shape: shape,
                    title: beach[0],
                    zIndex: beach[3]
                });
            })
            // let request = {
            //     query: 'Museum of Contemporary Art Australia',
            //     fields: ['name','geometry'],
            // };
            // service.findPlaceFromQuery(request, function (results, status) {
            //     if (status === google.maps.places.PlacesServiceStatus.OK) {
            //         console.log(results)
            //     }
            // });
        }
    </script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRZSeQ7QV_b88oo3AtghbQGCQYwdKKs6Q&callback=initMap&libraries=places"
        async defer></script>
</body>

</html>